.multiCol {
    display:table;
    table-layout: fixed;
    width: 100px;
    text-align: left;
    .col {
        display: table-cell;
        vertical-align: top;
        width: 50px;
        padding: 2% 0 2% 3%;
        &:first-of-type {
             padding-left: 0;}
    }
}